/* Header */

* {
  background-image: url("images/background.jpg");
    margin: 0;
    padding: 0;
    }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    }

/*  */

/* Body */

  .container{
    position: absolute;
    top: 45%;
    left: 50%;
    min-width: 410px;
    margin-top: 130px;
    margin-left: -250px;
    width: 390px;
    height: 170px;
    border: 4px dashed #06a700;
  }
  .container p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #06a700;
    font-family: Arial;
  }

  .container input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }

  .container button{
    margin: 0;
    color: #fff;
    background: #047c00;
    border: none;
    width: 390px;
    height: 35px;
    margin-top: 10px;
    margin-left: -4px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
  }

  .container button:hover{
    background: #05a500;
      color: #0C5645;
  }

  .container button:active{
    border:0;
  }
 

/*  */

/* Footer */

footer {
    text-align: start;
    left: 3%;
    margin-left: 5px;
    font-size: 20px;
    width:400px;
    color: black;
    background-color: #333; /* Black background color */
 
    opacity: 100%;
}

footer img {
    padding-top: 43vh;
}

/*  */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 200px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* Responsiveness */


  

/*  */